/**
Theme Name: Daan.dev
Author: Daan from Daan.dev
Author URI: https://woosh.dev
Description: Custom theme for Daan.dev
Version: 2.1.10
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: kadence-child
Template: kadence
*/

@import "tailwindcss";
@import "./assets/src/css/blog.css";
@import "./assets/src/css/buttons.css";
@import "./assets/src/css/checkout.css";
@import "./assets/src/css/cover.css";
@import "./assets/src/css/edd-form.css";
@import "./assets/src/css/edd-table.css";
@import "./assets/src/css/edd.css";
@import "./assets/src/css/edd-add-to-cart.css";
@import "./assets/src/css/edd-reviews.css";
@import "./assets/src/css/footer-mods.css";
@import "./assets/src/css/global-mods.css";
@import "./assets/src/css/header-mods.css";
@import "./assets/src/css/notices.css";
@import "./assets/src/css/pull-quote.css";
@import "./assets/src/css/reviews.css";
@import "./assets/src/css/view-changelog.css";
@import "./assets/src/css/widgets.css";

@theme inline {
    --font-brand: "Poppins", sans-serif;
    --font-sans: 'Public Sans', sans-serif;

    --font-weight-thin: 300;
    --font-weight-extralight: 300;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 900;
    --font-weight-black: 900;

    --color-transparent: transparent;
    --color-current: 'currentColor';

    --color-black: black;
    --color-white: white;

    --color-primary-50: #ebfdff;
    --color-primary-100: #cef8ff;
    --color-primary-200: #a2efff;
    --color-primary-300: #63e2fd;
    --color-primary-400: #1ccaf4;
    --color-primary-500: #00adda;
    --color-primary-600: #0389b7;
    --color-primary-700: #0a6e94;
    --color-primary-800: #125978;
    --color-primary-900: #144a65;

    --color-secondary-50: #f3fcf5;
    --color-secondary-100: #dff7e5;
    --color-secondary-200: #baedc9;
    --color-secondary-300: #91e3a9;
    --color-secondary-400: #6dd98c;
    --color-secondary-500: #44cf6c;
    --color-secondary-600: #2dae52;
    --color-secondary-700: #21823d;
    --color-secondary-800: #17592a;
    --color-secondary-900: #0b2d15;

    --color-neutral-50: #f7f7f7;
    --color-neutral-100: #f2f2f2;
    --color-neutral-200: #e6e6e6;
    --color-neutral-300: #d6d6d6;
    --color-neutral-400: #c4c4c4;
    --color-neutral-500: #b0b0b0;
    --color-neutral-600: #9c9c9c;
    --color-neutral-700: #828282;
    --color-neutral-800: #5e5e5e;
    --color-neutral-900: #000000;

    --color-error-100: var(--color-red-100);
    --color-error-400: var(--color-red-400);
    --color-error-500: var(--color-red-500);
    --color-warning-100: var(--color-amber-100);
    --color-warning-400: var(--color-amber-400);
    --color-warning-500: var(--color-amber-500);
    --color-success-100: var(--color-green-100);
    --color-success-400: var(--color-green-400);
    --color-success-500: var(--color-green-500);

    --color-caos-light: #faa61a;
    --color-caos-dark: #f37021;
    --color-caos-extra-dark: #e86b20;

    --color-omgf-light: #ef4d80;
    --color-omgf-dark: #c7197d;
    --color-omgf-extra-dark: #b61372;

    --color-gdpress-light: #0077c0;
    --color-gdpress-dark: #034ea2;
    --color-gdpress-extra-dark: #034694;

    --color-daandev-light: var(--color-primary-400);
    --color-daandev-dark: var(--color-primary-500);
    --color-daandev-extra-dark: var(--color-primary-600);
}
