/**
 * Cover Block
 */
.daan-dev-banner p {
    font-family: Poppins, sans-serif;
}

/**
 * Align Wide
 */
@media (min-width: 1630px) {
    .wp-site-blocks .content-container .alignwide {
        margin-left: -3rem;
        margin-right: -3rem;
        width: unset;
        max-width: unset;
    }
}