/**
 * Footer
 */

/**
 * Logos Block
 */
.daan-dev-logos {
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.daan-dev-logos figure {
    max-width: 218px;
    filter: grayscale(100%);
}

/**
 * Middle Footer
 */
.site-middle-footer-wrap .site-footer-row-container-inner {
    @apply bg-linear-to-br to-primary-500 from-primary-400 -mx-0 lg:-mx-[3rem] rounded-3xl;
}
