/**
 * Pull Quote Block
 */
.daan-dev-quote {
    @apply py-4 lg:py-8 text-black dark:text-white rounded lg:rounded-lg text-center px-10 lg:px-28;
}

.daan-dev-quote blockquote {
    font-family: Poppins, sans-serif;
    border-left: 0;
}

.daan-dev-quote blockquote .wp-block-pullquote {
    text-align: left;
}

.daan-dev-quote blockquote .wp-block-pullquote blockquote {
    padding: 0;
}

.daan-dev-quote blockquote .wp-block-pullquote blockquote:before {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 350px;
    top: 100px;
    left: -60px;
}

.daan-dev-quote blockquote p {
    font-style: normal;
    font-weight: 400;
}

.daan-dev-quote blockquote cite {
    text-transform: none;
}