/**
 * EDD Forms
 */
.edd_form {
    fieldset {
        legend {
            @apply text-lg mb-2;
        }

        p {
            @apply grid md:flex;

            label {
                @apply self-center mr-4 font-semibold grow-0 shrink-0 basis-3xs;
            }

            input, select {
                @apply grow;
            }
        }
    }
}

.wp-block-edd-user-downloads {
    @apply !border-0 !p-0 mb-4;

    .edd-order-items__header {
        @apply border-b-0 text-lg;

        .edd-blocks__row-label--files {
            @apply !text-left;
        }
    }

    .edd-order-item__product {
        .edd-blocks__row-column--files {
            @apply !text-left;
        }
    }
}

/**
 * EDD Recurring forms
 */
#edd-recurring-form {
    fieldset {
        div > span {
            @apply hidden;
        }

        > p, > div {
            @apply md:grid md:grid-cols-4 gap-2;

            &.edd-description, label {
                @apply col-start-1;
            }

            > span, > p {
                &.edd-description {
                    @apply col-start-2 col-span-3 row-start-2 text-xs;
                }

                &.exp-divider {
                    @apply hidden;
                }
            }

            input {
                @apply col-start-2 col-span-2;
            }
        }
    }
}